<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('./templates/header')%>
  </head>
  <body>
    <div class="container">
      <br />
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">¡Fallo de autenticacion!</h5>
          <br>
          <p class="card-text">El correo o contraseña son erroneos</p>
          <br>
          <a href="users" class="btn btn-secondary">Regresar</a>
        </div>
      </div>
    </div>
    <%-include('./templates/footer')%>
  </body>
</html>
